extends layout

block content
  h1= title
  p #{title}

  div
    each sprint in sprints
      div.card-sprint
        a(href=`/sprints/${sprint.numero}`)=sprint.nome
        small=`(${sprint.numTarefas} tarefas) ${sprint.meta}`