mixin tarefa(tarefa)
	ul
		li.task-list-item
			input.task-list-item-checkbox.itemTarefa.form-checkbox(type='checkbox', disabled=tarefa.disabled, checked=tarefa.disabled)
			
			- var link = 'http://redmine.camtwo.com.br/issues/'+tarefa.numero;

			a(href=link, target="_blank") #{tarefa.numero}
			|	- #{tarefa.titulo}
		each subtarefa in tarefa.subtarefas
			blockquote
				p
					- var link = 'http://redmine.camtwo.com.br/issues/#{subtarefa.numero}'
					a(href=link, target="_blank") #{subtarefa.numero}
					|	- #{subtarefa.titulo}