extends layout


include mixins

block content
	
	include menu_sprints

	input(type="hidden", id="numero-sprint", value=sprint_number)
	.stackedit__right
		.stackedit__html
			h1(id='reunião-de-revisão-sprint-80') Reunião de revisão Sprint #{sprint_number}
			h2#meta Meta
			blockquote
				p
					| #{meta}

			h2#tarefas Tarefas
				small(style="font-size: 13px;")
					| &nbsp;(#{tarefas.length} tarefas)
			
			each tarefa in tarefas
				+tarefa(tarefa)

			div(id='atualização', style='display: none')
				h2(id='previsão-de-atualização') Previsão de atualização
				blockquote
					p #{data_atualizacao}
				img(src=easter_egg, width='400', heigth='400')

block js
		script(type='text/javascript' src="/javascripts/storage.js")
		script(type='text/javascript' src="/javascripts/easter-egg.js")
		script.
			const tarefasSpr = StorageController.recuperarTarefas(document.getElementById("numero-sprint").value);
			if(tarefasSpr && tarefasSpr.tarefas){
				tarefasSpr.tarefas.forEach(function(tr){
					document.querySelector(`[data-numero='${tr}']`).checked=true
				});
			}